<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.mapper.CartMapper">

	<insert id="addCart">
		INSERT INTO tbl_cart(productNm, price, ProductCount, totalPrice)
		VALUES(#{productNm}, #{price}, #{productCount}, #{totalPrice});
	</insert>


	<select id="cartListView" resultType="co.yedam.vo.CartVO">
		select *
		from tbl_cart
	</select>

	<delete id="deleteCart" parameterType="int">
		delete from tbl_cart
		where no = #{no}
	</delete>
	
	<update id="updateCart" parameterType="co.yedam.vo.CartVO" >
		update tbl_cart
		set qty = qty + #{qty}
		where no = #{no}
	</update>




</mapper>
  
  
  